*{
    box-sizing: border-box;
}

body{ font-family:arial;
padding: 10px;
background: purple;
}

.header{
    padding: 30px;
    text-align: center;
    background: black;
}

header h1 {
font-size: 50px;
}

.topnav {
overflow: hidden;
background-color:#FF0088;
text-align: center;
}

.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


.leftcolumn {   
float: left;
width: 15%;
background-color: purple;
}  

.centercolumn {
float: left;
width: 70%;background-color: purple;

padding-left: 5px;
}

.rightcolumn {
float: left;
width: 15%;
padding-left: 5px;
}



.fakeimg {
background-color: #aaa;
width: 100%;
padding: 50px;
}

.card {
background-color: white;
padding: 5px;
} 

.row:after {
content: "";
display: table;
clear: both;
}


.fakeimg {
background-color: #aaa;
width: 100%;
padding: 20px;
}

.side {
-ms-flex: 30%; /* IE10 */
flex: 30%;
background-color: #f1f1f1;
padding: 20px;
}

.tablink {
background-color: #555;
color: white;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
font-size: 17px;
width: 25%;
}

.tablink:hover {
background-color: #777;
}

.tabcontent {
color: white;
display: none;
padding: 50px;
text-align: center;
}

button:hover {
opacity: 0.8;
}

.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}

img.avatar {
width: 40%;
border-radius: 50%;
}
.container {
padding: 16px;
}

.slideshow-container {
 position: relative;
 margin: 0;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
} 

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
 background-color: rgba(0,0,0,0.8);
}
.text {
 color: blue;
 font-size: 100px;
 padding: 16px 24px;
 position: absolute;
 bottom: 16px;
 width: 100%;
 text-align: center;
}

.numbertext {
color: blue;
font-size: 30px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: purple;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}



.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
} 

ul.breadcrumb {
list-style: none;
background-color: white;  
}

ul.breadcrumb li {display: inline;}

ul.breadcrumb li+li:before {
color: black;
content: "/\00a0";
}

ul.breadcrumb li a {color: black;}

.bnr {
position: absolute;
z-index: 300;
top: 3.7%;
right: 2.63%;
width: 25.6%;
height: auto;
}


.bnr.oro {
top: 16.4%;
}

.bnr.oro2 {
top: 29.4%;
}

.mv {
position: relative;
}


.news_tw {
position: relative;
overflow: hidden;
padding: 60px 1rem 150px 1rem;
}

.inner {
box-sizing: border-box;
width: 100%;
margin: 0 auto;
}

.flex {
display: flex;
justify-content: space-between;
}

#top #top_banner {
display: block !important;
padding: 40px 0;
}

#story {
position: absolute;
bottom: 30px;
left: 0;
width: 100%;
height: 645px;
text-align: center;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font: inherit;
margin: 0;
}

.column {
float: left;
width: 33.33%;
padding: 10px;
background-color: #ccc;
height: 250px;
}

.column a {
float: none;
color: black;
padding: 16px;
text-decoration: none;
display: block;
text-align: left;
}

.column a:hover {
background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* 登入畫面 */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Set a style for all buttons */
button {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}

img.avatar {
width: 40%;
border-radius: 50%;
}

.container {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
 display: block;
 float: none;
}
.cancelbtn {
 width: 100%;
}
}






























/* 網頁底層*/
.footer {
padding: 10px;
text-align: center;
background: black;
margin-top: 10px;
color: white
}

@media screen and (max-width: 800px) {
.leftcolumn, .rightcolumn {   
width: 100%;
padding: 0;
}

@media screen and (max-width: 400px) {
.topnav a {
float: none;
width: 100%;
}
}













.icon-bar {
width: 100%;
background-color: #555;
overflow: auto;
} 

.icon-bar a {
float: left;
width: 20%;
text-align: center;
padding: 12px 0;
transition: all 0.3s ease;
color: white;
font-size: 36px;
}

.icon-bar a:hover {
background-color: #000;
}

.active {
background-color: black;
}

}